header {
    color:white;
    background-color:darkgrey;
    height:25%;
}

footer {
    text-align:center;
    clear:both;
    color:white;
    background-color:lightgrey;
    height:50px;
}

nav {
    height:50px;
    color:white;
    background-color:lightgrey;
}

#group {
}

#summ {
    text-align:center;
    display:inline;
    float:left;
    width:25%;
}

#home {
    display: inline;
    float:right;
    border-left:1px solid lightgrey;
    width:74%;
}